<div class="article-container">
    <div class="article-section">
        <img src="https://cdn.pixabay.com/photo/2023/10/26/04/52/old-8341706_1280.jpg" alt="pic" class="article-img">
        <div class="article-description-container">
            <h1 class="article-title">title</h1>
            <p class="article-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur provident nostrum possimus inventore nisi laboriosam consequatur modi nulla eos, commodi, omnis distinctio! Maxime distinctio impedit provident, voluptates illo odio nostrum minima beatae similique a sint sapiente voluptatum atque optio illum est! Tenetur tempora doloremque quae iste aperiam hic cumque repellat?</p>

            <time datetime="" class="article-date">1111111</time>
        </div>
    </div>
</div>

<style>
    .article-container{
        margin: 3%;
    }

    .article-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .article-img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .article-description-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .article-title{
        font-size: large;
        font-weight: 500;
        padding: 2%;
        text-decoration-line: underline;
    }

    .article-description{
        font-size: medium;
    }

    .article-date{
        font-style: italic;
        font-size: small;
    }
</style>